@charset "UTF-8";

	body {		overflow-y: scroll;	
				width:100%;
				height:100%;
				margin:0 auto;
				overflow-x: hidden;	
				font-family:"Georgia", sans-serif;
				position:relative;
				background:#F6F6F6;
				background: url(../pics/seamless1.jpg);
				color:#000; 
				}
				
	#page {
				width:80%;
				margin:0 auto;
				text-align:center;
				margin-bottom:25px;
	}	
	h2 {		padding-top:30px;}
	
	a {			display:block; 
				width:80px; height:80px;
				float:left;
				padding:10px; 
				}
				
	.phptest {color:#FFF; }
	article, aside, details, figcaption, figure, main
	footer, header, hgroup, menu, nav, section{ display: block; } 			

	/**    Login       **
-------------------------------------------------------------------*/

.unselectable {
    -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: NONE; /* KONQUEROR */
    -MOZ-USER-SELECT: NONE; /* FIREFOX */
    -MS-USER-SELECT: NONE; /* IE */
    USER-SELECT: NONE; /* CSS3 */
}

input {
	height:30px;
	margin:5px 5px 10px 0;
}
input:focus {
border: 2px solid #333;
}

.LoginBox {

	min-width:260px;
	width:40%;
	min-height:370px;
	height:100%; 
	height:auto !important;
	padding:0 20px;
	background:#F2F1F1;
	box-shadow:0px 0px 10px #160b02;
	-moz-box-shadow:5px 5px 10px #160b02;
	-webkit-box-shadow:5px 5px 10px #160b02;
	border-radius:10px;
	margin:0 auto;
	padding-bottom:20px;
	margin-bottom:20px;
} 
.LoginBox p {
	text-align:left;
	margin-top:25px;
}

.LoginBox h2 {
	margin-top:5px;
	line-height:17px;
}

.errorMessage {
	padding-bottom:5px;
	font-weight:bold;
	color:red;
}
#username {
	display:block;
	text-align:left;
}
.textbox {
	padding:5px;
	border:1px solid #CCC;
	border-radius:3px;
	width:200px;
	display:block;	
}

#feedbackLogin {
	padding:10px 0;
	clear:both;
}
.LoginBtn, .LogoutBtn {
	padding:5px 30px;
	margin-top:15px;
	display:block;
	margin-bottom:45px;
	background:#000;
	color:#FFF;
	border:1px solid #000;
	border-radius: 3px;
	cursor:pointer;
	clear:both;
}
.LoginBtn:focus , .LogoutBtn:focus{outline:0;}
.LogoutBtn {
	margin:0 auto;
	margin-top:15px;
	margin-bottom:45px;
}
label {
	display:block;
	float:left;
}
.checkbox {
	float:left;
	margin-top:-2px;
	margin-left:10px;
}
